
@{
    ViewData["Title"] = "Login";
}
<h1>Login as employee or user</h1>



<script>

  function Validate() {

    $.ajax(
    {
      type: "POST",
      url: '@Url.Action("Validate", "Validation")',
      data: {
        email: $('#email').val(),
        password: $('#password').val()
      },
      error: function (result) {
        alert("There is a Problem, Try Again!");
      },
      success: function (result) {
        console.log(result);
        if (result.status == true) {
          window.location.href = '@Url.Action("Index", "Employees")';
        }
        else {
          alert(result.message);
        }
      }

    });
  }

</script>


<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0\"
          crossorigin="anonymous">
</head>
<body>
    <div class='container'>
        <form class="login100-form validate-form">
           
            <div class="wrap-input100 validate-input m-b-10" data-validate="Email is required">
                <input class="input100" type="text" name="email" id="email" placeholder="Email">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-user"></i>
                </span>
            </div>
            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="password" name="password" id="password" placeholder="Password">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock"></i>
                </span>
            </div>
            <div class="container-login100-form-btn p-t-10">
                <input type="button" value="Login" class="login100-form-btn" onclick="Validate()">
            </div>
            <div class="text-center w-full p-t-25 p-b-80">
                <a href="#" class="txt1">
                    Forgot Username / Password?
                </a>
            </div>
        </form>
    </div>

</body>


